@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #00ac96;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    max-width: 500px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
}
.signin-text{
    font-weight: 600;
}
.link {
    color: #00ac96;
    text-decoration: none;
}
.link:hover{
    color: #008b79;
}
.form-control{
    display: block;
    width:100%;
    font-size: 1rem;
    font-weight: 400;
    line-height:1.5;
    border-color: #00ac96;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 0px;
    color:#495057;
    height: auto;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
}
.form-control:focus{
    border-color: #008b79;
    outline: 0;
    box-shadow: none;
}
.btn-class{
    border-color: #00ac96;
    color: #00ac96;
}
.btn-class:hover{
    background-color:  #00ac96;
    color: #fff;
}